*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav-logo-wrapper{

    width: 100px;
    height: 70px;
    cursor: pointer;
    
    }
    .nav-logo-img{
    
        mix-blend-mode:darken;
        }


        .nav{
            width: 100%;
            display:flex ;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
        }
        .nav-logo{
            width: 30%;
        }
        .nav-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
        }
        .nav-form{
            
            width: 55%;
        }
        .nav-btns{
            display: flex;
            justify-content: space-around;
            width: 35%;
        }


.links{
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
.mycontainer{
    margin-top: 2rem;
    margin-left:25%;
    margin-right:25%;
    border: 1px solid black;
    box-shadow: 2px 2px 10px gray;
    border-radius: 1rem;
    width: 50%;
    padding: 2rem;
}

@keyframes blinkCursor {
    50% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typeAndDelete {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 6.2em;
    } /* adjust width based on content */
    90%,
    100% {
      width: 0;
    }
  }
  
  .terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    padding: 1.5em 1em;
    width: 12em;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
  }
  
  .terminal-controls {
    float: right;
  }
  
  .control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
  }
  
  .control.close {
    background-color: #e33;
  }
  
  .control.minimize {
    background-color: #ee0;
  }
  
  .control.maximize {
    background-color: #0b0;
  }
  
  .terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
  }
  
  .text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green; /* Cursor */
    animation: typeAndDelete 4s steps(11) infinite,
      blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
  }
 
  .input-group{
    display: flex;
    flex
    justify-content: space-evenly;
    align-items: center;
  }

  .igt {
    /* display: flex; */
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}
.todo-text{
    width: 70%;
    height: 100%;
    padding: 0.5rem;
    text-align: center;
    
}
  